<ion-view view-title="Recently Played">
	<ion-content class="background" has-bouncing="true">
        <div class="listMargin">
            <ion-list ng-controller="TrackCtrl" class="recentList">
                <div class="card cardHome" ng-repeat="track in recentTracks" ng-click="open(track)">
                    <div class="item item-image">
                        <img ng-src="{{track.image}}">
                        <div class="item item-text">
                            <p>
                                <b>{{track.artist}}</b><br>
                                {{track.title}}
                            </p>
                        </div>
                    </div>
                </div>
            </ion-list>
        </div>
    </ion-content>
	<ion-footer-bar class="bottom bar-dark middleBar" style="bottom:0px;">
        <div ng-class="getTrackClass()" ng-controller="TrackCtrl" ng-click="open(track)">
            <img ng-src="{{track.imageurl}}" ng-show="track.imageurl!==''">
                <div class="trackWrap">
                    {{track.artist}}<br>
                    {{track.title}}<br>
                    {{track.album}}
                </div>
        </div>
        <a class="button button-icon icon ion-{{class}}" ng-click="onClick()"></a>
    </ion-footer-bar>
</ion-view>