# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

CertificateSigningRequest.certSigningRequest
my-release-key.keystore
NerdyFM-release-unsigned.apk
NerdyFM.apk

*.apdisk
*.ap_
*.sass-cache
*.scssc
*.log
*.DS_Store
*.xcuserstate
*.bak
*.class
*.properties

.TemporaryItems
.gradle

Thumbs.db
thumbs.db

builds/

node_modules

platforms/android/ant-build/
platforms/android/CordovaLib/ant-build/
platforms/android/ant-gen/
platforms/android/local.properties
platforms/android/bin/local.properties
platforms/android/CordovaLib/local.properties
platforms/android/build/
platforms/android/build/intermediates/
platforms/android/build/outputs/
platforms/android/CordovaLib/build
platforms/android/assets/www/
local.properties

platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www/
platforms/ios/.staging/
platforms/ios/NerdyFM.xcodeproj/project.xcworkspace/xcuserdata/
platforms/android/assets/www/js/controller.js
platforms/ios/www/js/app.js
platforms/ios/www/css/ionic.app.css
platforms/android/assets/www/cordova.js
platforms/android/assets/www/css/ionic.app.css
platforms/android/assets/www/css/ionic.app.min.css
platforms/android/assets/www/js/app.js
platforms/android/assets/www/templates/menu.html
platforms/ios/www/cordova.js
platforms/ios/www/css/ionic.app.min.css
platforms/ios/www/js/controller.js
platforms/ios/www/templates/menu.html
platforms/android/assets/www/index.html
platforms/android/assets/www/cordova_plugins.js
platforms/ios/www/index.html
platforms/ios/www/cordova_plugins.js
platforms/ios/www/plugins/org.apache.cordova.statusbar/www/statusbar.js
platforms/ios/www/plugins/org.apache.cordova.media/www/MediaError.js
platforms/ios/www/plugins/org.apache.cordova.media/www/Media.js
platforms/ios/www/plugins/org.apache.cordova.inappbrowser/www/inappbrowser.js
platforms/ios/www/plugins/org.apache.cordova.file/www/resolveLocalFileSystemURI.js
platforms/ios/www/plugins/org.apache.cordova.file/www/requestFileSystem.js
platforms/ios/www/plugins/org.apache.cordova.file/www/ProgressEvent.js
platforms/ios/www/plugins/org.apache.cordova.file/www/Metadata.js
platforms/ios/www/plugins/org.apache.cordova.file/www/LocalFileSystem.js
platforms/ios/www/plugins/org.apache.cordova.file/www/ios/FileSystem.js
platforms/ios/www/plugins/org.apache.cordova.file/www/Flags.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileWriter.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileUploadResult.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileUploadOptions.js
platforms/ios/www/plugins/org.apache.cordova.file/www/fileSystems.js
platforms/ios/www/plugins/org.apache.cordova.file/www/fileSystems-roots.js
platforms/ios/www/plugins/org.apache.cordova.file/www/fileSystemPaths.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileSystem.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileReader.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileError.js
platforms/ios/www/plugins/org.apache.cordova.file/www/FileEntry.js
platforms/ios/www/plugins/org.apache.cordova.file/www/File.js
platforms/ios/www/plugins/org.apache.cordova.file/www/Entry.js
platforms/ios/www/plugins/org.apache.cordova.file/www/DirectoryReader.js
platforms/ios/www/plugins/org.apache.cordova.file/www/DirectoryEntry.js
platforms/ios/www/plugins/org.apache.cordova.device/www/device.js
platforms/ios/www/plugins/org.apache.cordova.console/www/logger.js
platforms/ios/www/plugins/org.apache.cordova.console/www/console-via-logger.js
platforms/ios/www/plugins/com.ionic.keyboard/www/keyboard.js
platforms/ios/www/plugins/com.danielcwilson.plugins.googleanalytics/www/analytics.js
platforms/android/assets/www/plugins/org.apache.cordova.statusbar/www/statusbar.js
platforms/android/assets/www/plugins/org.apache.cordova.media/www/MediaError.js
platforms/android/assets/www/plugins/org.apache.cordova.media/www/Media.js
platforms/android/assets/www/plugins/org.apache.cordova.inappbrowser/www/inappbrowser.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/resolveLocalFileSystemURI.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/requestFileSystem.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/ProgressEvent.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/Metadata.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/LocalFileSystem.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/Flags.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileWriter.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileUploadResult.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileUploadOptions.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/fileSystems.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/fileSystems-roots.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/fileSystemPaths.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileSystem.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileReader.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileError.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/FileEntry.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/File.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/Entry.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/DirectoryReader.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/DirectoryEntry.js
platforms/android/assets/www/plugins/org.apache.cordova.file/www/android/FileSystem.js
platforms/android/assets/www/plugins/org.apache.cordova.device/www/device.js
platforms/android/assets/www/plugins/com.ionic.keyboard/www/keyboard.js
platforms/android/assets/www/plugins/com.danielcwilson.plugins.googleanalytics/www/analytics.js
