# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

CertificateSigningRequest.certSigningRequest
my-release-key.keystore
NerdyFM-release-unsigned.apk
NerdyFM.apk

*.apdisk
*.ap_
*.sass-cache
*.scssc
*.log
*.DS_Store
*.xcuserstate
*.bak
*.class
*.properties

.TemporaryItems
.gradle

Thumbs.db
thumbs.db

builds/

node_modules

platforms/android/ant-build/
platforms/android/CordovaLib/ant-build/
platforms/android/ant-gen/
platforms/android/local.properties
platforms/android/bin/local.properties
platforms/android/CordovaLib/local.properties
platforms/android/build/
platforms/android/build/intermediates/
platforms/android/build/outputs/
platforms/android/CordovaLib/build
platforms/android/assets/www/
local.properties

platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www/
platforms/ios/.staging/
platforms/ios/NerdyFM.xcodeproj/project.xcworkspace/xcuserdata/
